:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: #2196f3;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --main-btn-color: #ffffff;
  --second-btn-color: #212121;
  --header-text-color: #212121;
  --header-logo-text-color: #2196f3;
  --second-logo-text-color: #000000;
  --third-logo-text-color: #ffffff;
  --accent-color: #2196f3;
  --background-btn-color: #f5f4fa;
  --background-color: #2f303a;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header-list {
    display: flex;
    align-items: center;
  }
}

.nav-list {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .nav-list {
    display: flex;
    flex-direction: column;
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 50px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  padding-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-logo-text-color);
  text-decoration: none;
}

.header-logo:focus, .header-logo:hover {
  color: var(--accent-color);
}

.header-list__item:not(:last-child) {
  padding-right: 50px;
}

.studio-nav {
  color: var(--second-logo-text-color);
}

.header-list__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__link:hover, .header-list__link:focus {
  color: var(--accent-color);
}

.header-list__link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: -32px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__link.current:hover::after {
  opacity: 1;
}

.current {
  color: var(--accent-color);
}

.current::after {
  color: var(--accent-color);
}

.nav-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

.nav-list__mail {
  display: flex;
  align-items: center;
  padding-right: 50px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__mail:hover, .nav-list__mail:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .nav-list__mail {
    font-size: 14px;
    line-height: 1.33;
    margin-bottom: 0px;
  }
}

.nav-list__tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__tel:hover, .nav-list__tel:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .nav-list__tel {
    font-size: 14px;
    line-height: 1.14;
  }
}

.mob-menu {
  position: fixed;
  z-index: 5;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  top: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 21px;
  padding-bottom: 48px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-menu .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.menu-open__button {
  margin-left: auto;
  background-color: transparent;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open__button:hover, .menu-open__button:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-open__button {
    display: none;
  }
}

.menu-close__button {
  height: 18.67px;
  display: block;
  margin-left: auto;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close__button:hover, .menu-close__button:focus {
  fill: var(--accent-color);
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link:active {
  color: var(--accent-color);
}

.mob-menu__link {
  color: currentColor;
  color: #212121;
}

.mob-menu__link:hover {
  color: var(--accent-color);
}

.menu-close__icon {
  position: absolute;
  top: 15px;
  right: 15px;
}

.mob-menu-nav__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-menu-nav__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.mob-menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-social-list {
  display: flex;
}

.mob-menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (max-width: 400px) {
  .mob-menu-social__link {
    font-size: 16px;
  }
}

.mob-menu-social__item {
  margin-right: 10px;
}

.mob-menu-social__item:not(:last-child)::after {
  content: "";
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-left: 10px;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header_mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--background-color);
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header_mob_2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header_tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header_tab_2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header_2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 30px;
  margin: 0 auto;
  padding-bottom: 30px;
}

@media screen and (max-width: 1200px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}

.hero-back__container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 0.06em;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-btn-color);
  cursor: pointer;
  border-radius: 4px solid var(--accent-color);
  border-color: transparent;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 32px;
  padding-right: 32px;
}

.button:hover, .button:focus {
  color: var(--main-btn-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero__button {
  color: var(--main-btn-color);
  background-color: var(--accent-color);
  border-radius: 4px solid var(--accent-color);
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__container {
  display: flex;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.features-list {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .features-list__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.features-list__icon-box {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .features__title {
    justify-content: center;
    display: flex;
  }
}

.features__after-title {
  display: flex;
  justify-content: center;
  height: 75px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.about {
  padding-bottom: 94px;
  padding-top: 94px;
}

@media screen and (max-width: 1199.5px) {
  .about {
    display: none;
  }
}

.about__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  padding-bottom: 50px;
}

.about-list {
  display: flex;
}

.about-list__item {
  display: block;
  max-width: 100%;
  height: auto;
}

.about-list__item:not(:last-child) {
  margin-right: 30px;
  max-width: 370px;
}

.about-list__box {
  position: relative;
}

.about-list__text {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
  .team__title {
    font-size: 28px;
    line-height: 1.18;
  }
}

.team-list {
  justify-content: space-between;
  border-radius: 0px 0px 4px 4px;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team-list__item {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  padding-top: 30px;
  padding-bottom: 10px;
}

.team-list__after-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.team-list__social-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.social-list__item {
  height: 44px;
  width: 44px;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__link {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--main-btn-color);
}

.social-list__icon {
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
  .clients__title {
    font-size: 22px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 320px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -30px;
  }
}

.clients-list__link {
  display: flex;
  height: 92px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover {
  border-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
  }
}

@media screen and (min-width: 320px) {
  .clients-list__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc(100% / 6 - 30px);
    margin-left: 30px;
  }
}

.clients-list__icon {
  fill: #afb1b8;
}

.clients-list__link:hover .clients-list__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

.footer__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
}

@media screen and (min-width: 1199px) {
  .footer__container {
    align-items: baseline;
    justify-content: center;
    text-align: start;
  }
}

.address-box {
  margin-right: 70px;
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (max-width: 767.5px) {
  .address-box {
    width: 100%;
    margin-right: 0px;
  }
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-logo-text-color);
  text-decoration: none;
  margin-bottom: 20px;
}

.footer-logo:focus, .footer-logo:hover {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    display: flex;
  }
}

.footer-studio {
  color: var(--third-logo-text-color);
}

.footer-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list__address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__address-link:focus, .footer-list__address-link:hover {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .footer-list__address-link {
    display: flex;
  }
}

.footer-list__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__link:focus, .footer-list__link:hover {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .footer-list__link {
    display: flex;
  }
}

.sign-box__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 20px;
}

.sign-box__button {
  display: flex;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  border-radius: 4px;
  padding-left: 29px;
  padding-right: 13px;
  margin-left: auto;
  margin-right: auto;
}

.sign-box__button:hover, .sign-box__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.sign-box__input {
  width: 100%;
  height: 50px;
  background: #2f303a;
  padding: 15px 16px;
  margin-right: 12px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.sign-box__input:focus {
  border-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .sign-box__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.sign-box__form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
}

.sign-box__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sign-box__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 95vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}

@media screen and (min-width: 1200px) {
  .backdrop {
    width: 100vw;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms;
  width: 450px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  padding-top: 40px;
  padding-left: 41px;
  padding-right: 39px;
  padding-bottom: 40px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

@media screen and (max-width: 400px) {
  .modal {
    width: 400px;
  }
}

.backdrop.is-hidden .modal {
  transform: scale(1.5);
  transition: transform 250ms;
}

.modal-close__button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close__button:focus, .modal-close__button:hover {
  border-color: var(--accent-color);
}

.modal-close__button:focus .modal-close__icon,
.modal-close__button:hover .modal-close__icon {
  fill: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-btn-color);
  text-align: center;
  margin-bottom: 30px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--main-text-color);
  padding-left: 42px;
  padding-bottom: 12px;
  padding-top: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
  border-color: var(--accent-color);
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__field:nth-child(4) {
  margin-bottom: 20px;
}

.modal__field label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal-send__button {
  width: 200px;
  height: 50px;
  color: var(--main-btn-color);
  background: var(--accent-color);
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.modal-send__button:hover, .modal-send__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal__input-wrap {
  position: relative;
}

.modal__comment {
  padding: 16px 12px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
}

.modal__comment:focus {
  border-color: var(--accent-color);
}

.modal__comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.policy-box__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200) {
  .policy-box__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

@media screen and (max-width: 400px) {
  .policy-box__text {
    font-size: 10px;
  }
}

.policy-box__item {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.policy-box__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.policy-box__check:checked + .policy-box__text .policy-box__item {
  background-color: var(--accent-color);
  border: none;
}

.join-box {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .join-box {
    margin-right: 93px;
  }
}

.join-box__title {
  color: var(--main-title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.join-box__link {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-box__link:hover, .join-box__link:focus {
  background-color: var(--accent-color);
}

.join-box__item {
  height: 44px;
  width: 44px;
}

.join-box-list {
  display: flex;
  justify-content: space-between;
  border-radius: 0px 0px 4px 4px;
}

.join-box__item + .join-box__item {
  margin-left: 10px;
}

.join-box__icon {
  fill: var(--main-btn-color);
}

.portfolio__filter {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio__filter {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 768px) {
  .filter__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    justify-content: start;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .filter__list {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
  }
}

.filter__item:nth-child(-n + 3) {
  margin-bottom: 15px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__item:hover {
  display: flex;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-style: none;
}

.filter__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  letter-spacing: 0.03em;
  color: var(--second-btn-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:focus, .filter__btn:hover {
  background-color: var(--accent-color);
}

.portfolio-list__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  background: #ffffff;
  cursor: pointer;
}

.portfolio-list__description {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .portfolio-list__description {
    flex-grow: 1;
  }
}

.portfolio-list__text {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
  text-decoration: none;
}

.portfolio-list__after-text {
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.portfolio-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.portfolio-list__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio-list__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin-left: 30px;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.portfolio-list__link:hover .portfolio-list__top-text {
  transform: translateY(0);
}

.portfolio-list__link {
  display: block;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .portfolio-list__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.portfolio-list__wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-list__link:nth-child(3n + 1) {
  margin-left: 0px;
}

.portfolio-list__top-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 397px) {
  .portfolio-list__top-text {
    font-size: 8px;
  }
}
/*# sourceMappingURL=main.css.map */